body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.catTile {
  display: inline;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
  outline: #3B0B0B dotted thick;
  transition: 0.75s;
  opacity: 1;
}

.catTile h3 {
  color: purple;
}

.minCatTile {
  width: 250px;
  height: 250px;
  background-size: cover;
}

.maxCatTile {
  background-size: cover;
  width: 500px;
  height: 500px;
}

.twirlyCat {
  transition: all 3s ease-in-out;
  display: inline;
}

.twirlyCat:hover {
  transform: scale(1.5);
}

.nav {
  margin-bottom: 2%;
}

.appLogo {
  animation: appLogo-spin infinite 5s linear;
  height: 100px;
  transition: all .2s ease-in-out;
}

@keyframes appLogo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: #46045e;
}